.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: bisque;
  background: url('../assets/images/bg-01.jpg');
  background-size: cover;
  background-attachment: fixed;
}
h1{
  align-self: center;
  position: absolute;
  top: 50vh;
  right: auto;
}
